@import "../variables.scss";
.slide-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 20;
    @media (max-width: $widescreen){
        right: 3%;
    }
    // @media (max-width: $desktop) {
    //     display: none;
    //     right: 0;
    // }
}