@import "../variables.scss";
.slide-bg {
    background: url("../../images/img-banner.svg") center right no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: contain;
    @media (max-width: $widescreen){
        right: 3%;
    }
    @media (max-width: $desktop) {
        display: none;
        right: 0;
    }
}